weatherbot_action_flow.json
[
    {
        "id": "95526930634809d4",
        "type": "tab",
        "label": "CAI-KIC-Bot",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "962e20b1df6e5746",
        "type": "http in",
        "z": "95526930634809d4",
        "name": "",
        "url": "/actionserver",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 130,
        "y": 100,
        "wires": [
            [
                "2c23e0809b452ba0",
                "15cfd5cf81f28fc8"
            ]
        ]
    },
    {
        "id": "82d3e942bd932084",
        "type": "http response",
        "z": "95526930634809d4",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 930,
        "y": 200,
        "wires": []
    },
    {
        "id": "2c23e0809b452ba0",
        "type": "init",
        "z": "95526930634809d4",
        "name": "",
        "x": 410,
        "y": 100,
        "wires": [
            [
                "90027d28a8d46334",
                "c418e9ce87f1dc8b"
            ]
        ]
    },
    {
        "id": "e8b8fdb0618b64da",
        "type": "finish",
        "z": "95526930634809d4",
        "name": "",
        "x": 790,
        "y": 200,
        "wires": [
            [
                "82d3e942bd932084"
            ]
        ]
    },
    {
        "id": "90027d28a8d46334",
        "type": "switch",
        "z": "95526930634809d4",
        "name": "",
        "property": "action",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "action_weather",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "action_generalinfo",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 570,
        "y": 100,
        "wires": [
            [
                "4d9054034fca806c"
            ],
            [
                "cca3d3a3c91e823e"
            ]
        ]
    },
    {
        "id": "4d9054034fca806c",
        "type": "template",
        "z": "95526930634809d4",
        "name": "",
        "field": "url",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "http://api.weatherstack.com/current?access_key=API Key&query={{slots.location}}",
        "output": "str",
        "x": 140,
        "y": 200,
        "wires": [
            [
                "a0bd70743cbf2cd8"
            ]
        ]
    },
    {
        "id": "a0bd70743cbf2cd8",
        "type": "http request",
        "z": "95526930634809d4",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 330,
        "y": 200,
        "wires": [
            [
                "b29ff10cbad4bd42"
            ]
        ]
    },
    {
        "id": "b29ff10cbad4bd42",
        "type": "template",
        "z": "95526930634809d4",
        "name": "",
        "field": "payload.text",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "It is {{payload.current.weather_descriptions.0}} in {{payload.location.name}}, {{payload.location.country}} at the moment. The temperature is {{payload.current.temperature}} degrees, the humidity is {{payload.current.humidity}}% and the wind speed is {{payload.current.wind_speed}} mph.",
        "output": "str",
        "x": 520,
        "y": 200,
        "wires": [
            [
                "9fcb8f604e090d2e"
            ]
        ]
    },
    {
        "id": "9fcb8f604e090d2e",
        "type": "sendextra",
        "z": "95526930634809d4",
        "name": "",
        "position": "0",
        "positionType": "num",
        "text": "payload.text",
        "textType": "msg",
        "image": "payload.current.weather_icons.0",
        "imageType": "msg",
        "attachment": "",
        "attachmentType": "str",
        "senderr": false,
        "x": 660,
        "y": 200,
        "wires": [
            [
                "e8b8fdb0618b64da"
            ]
        ]
    },
    {
        "id": "cca3d3a3c91e823e",
        "type": "template",
        "z": "95526930634809d4",
        "name": "",
        "field": "url",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "https://en.wikipedia.org/w/api.php?action=opensearch&limit=1&namespace=0&format=json&search={{slots.location}}",
        "output": "str",
        "x": 160,
        "y": 300,
        "wires": [
            [
                "4b925eb7a40f358e"
            ]
        ]
    },
    {
        "id": "4b925eb7a40f358e",
        "type": "http request",
        "z": "95526930634809d4",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 310,
        "y": 300,
        "wires": [
            [
                "53620f556527195a"
            ]
        ]
    },
    {
        "id": "53620f556527195a",
        "type": "sendextra",
        "z": "95526930634809d4",
        "name": "",
        "position": "0",
        "positionType": "num",
        "text": "You can find info here!",
        "textType": "str",
        "image": "",
        "imageType": "str",
        "attachment": "payload[3][0]",
        "attachmentType": "msg",
        "senderr": false,
        "x": 460,
        "y": 300,
        "wires": [
            [
                "cb80cd1978e87141"
            ]
        ]
    },
    {
        "id": "cb80cd1978e87141",
        "type": "finish",
        "z": "95526930634809d4",
        "name": "",
        "x": 610,
        "y": 300,
        "wires": [
            [
                "d72ae9297e66c4c6"
            ]
        ]
    },
    {
        "id": "d72ae9297e66c4c6",
        "type": "http response",
        "z": "95526930634809d4",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 730,
        "y": 300,
        "wires": []
    },
    {
        "id": "c418e9ce87f1dc8b",
        "type": "debug",
        "z": "95526930634809d4",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 490,
        "y": 40,
        "wires": []
    },
    {
        "id": "15cfd5cf81f28fc8",
        "type": "debug",
        "z": "95526930634809d4",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 260,
        "y": 40,
        "wires": []
    }
]